*{
    font-family: Garamond;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

main>*, article, aside{
    border: 2px solid rgb(0,136,204);
    border-radius: 5px;
}

section{
    border: 0px;
}

header, aside, article, footer {
    background-color: rgb(0,191,255);
}

main{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin: 5px;
}

section{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 15px;
}

header>h1{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-size: 300%;
}

nav{
    background-color: rgb(0,136,204);
    padding-top: 10px;
    padding-bottom: 10px;
    
}

nav>a {
    text-decoration: none;
    color: yellow;
    font-size: 110%;
    font-weight: bold;
    margin: 20px;
}

nav>a:hover{
    background-color: rgb(0,191,255);
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

footer{
    text-align: center;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

article>img{
    width: 97%;
    height: auto;
    margin: 5px;
}

aside>ol{
    margin-left: 20px;
}